<!doctype html>
<html lang="en">
  <head>
  	<title>Admin Paneli </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>

		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar" [ngClass]="{'active':isSidebarOpen}">
				<div class="custom-menu">
          <button type="button" id="sidebarCollapse" class="btn btn-primary" (click)="toggleSidebar()">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
          </button>
        </div>
				<div class="p-4">
		  		<h1><a href="index.html" class="logo">Flash</a></h1>
	        <ul class="list-unstyled components mb-5">
	          <li class="active">
	            <a href="#"><span class="fa fa-home mr-3"></span> Ana Sayfa</a>
	          </li>
	          <li>
              <a routerLink="category" routerLinkActive="category"><span class="fa fa-user mr-3"></span> Kategoriler</a>
	          <li>
              <a routerLink="product" routerLinkActive="product"><span class="fa fa-briefcase mr-3"></span> Ürünler</a>
            </li>
            <li>
              <a routerLink="banner" routerLinkActive="banner" ><span class="fa fa-sticky-note mr-3"></span> Öne Çıkan Alan</a>
	          </li>
            <li>
              <a routerLink="about" routerLinkActive="about" ><span class="fa fa-info-circle mr-3"></span> Hakkımızda</a>
	          </li>
            <li>
              <a routerLink="brand" routerLinkActive="brand" ><span class="fa fa-tags mr-3"></span> Markalar</a>
	          </li>
            <li>
              <a routerLink="service" routerLinkActive="service" ><span class="fa fa-puzzle-piece mr-3"></span> Hizmetler</a>
	          </li>
            <li>
              <a routerLink="socialMedia" routerLinkActive="socialMedia" ><span class="fa fa-user mr-3"></span> Sosyal Medya</a>
	          </li>
            <li>
              <a routerLink="subscribeUser" routerLinkActive="subscribeUser" ><span class="fa fa-sticky-note mr-3"></span> Kayıtlı Kullanıcılar</a>
	          </li>
	        </ul>


	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <router-outlet></router-outlet>

      </div>
		</div>

  </body>
</html>
