<section id="clients" class="clients section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>İŞ ORTAKLARIMIZ</h2>
    <p>Farklı sektörlerdeki değerli müşterilerimizle uzun süreli işbirlikleri kurmaktan gurur duyuyoruz.    </p>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row g-0 clients-wrap">

      <div class="col-xl-3 col-md-4 client-logo" *ngFor="let brand of brandList">
        <img src="{{brand.imageUrl}}" class="img-fluid" alt="">
      </div><!-- End Client Item -->

    </div>

  </div>

</section>
