<div class="text-center mt-3">
  <h4>Hizmet Düzenleme Sayfası</h4>
</div>
<br>
 <table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Başlık</th>
      <th>Açıklama</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let service of serviceList; let i = index">
      <td>{{i + 1}}</td>
      <td>{{service.title}}</td>
      <td>{{service.description}}</td>
      <td>
        <button class="btn btn-danger" (click)="delete(service.serviceId)"><i class="fa fa-trash" aria-hidden="true"></i> Sil</button> &nbsp;
        <button class="btn btn-warning" (click)="getSelected(service)" data-bs-toggle="modal" data-bs-target="#editModal" ><i class="fa fa-pencil" aria-hidden="true"> </i> Güncelle</button>
      </td>
    </tr>
  </tbody>
</table>
<br>
<div class="text-center mb-3">
  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal"><i class="fa fa-plus" aria-hidden="true"> </i> Yeni Hizmet Ekle</button>
</div>

<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
    <form #createForm="ngForm" (ngSubmit)="create()">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="createModalLabel">Yeni Hizmet Ekle</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="clearErrors()"></button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label>Başlık</label>
            <input type="text" name="title" [(ngModel)]="service.title" class="form-control" >
            <div *ngIf="errors?.Title">
              <span class="text-danger" *ngFor="let error of errors.Title">{{error}}</span>
            </div>
          </div>

          <div class="form-group">
            <label>Açıklama</label>
            <textarea name="descriptionFirst" [(ngModel)]="service.description" rows="3" class="form-control"></textarea>
            <div *ngIf="errors?.Description">
              <span class="text-danger" *ngFor="let error of errors.Description">{{error}}</span>
            </div>
          </div>

          <div class="form-group">
            <label>Icon</label>
            <input type="text" name="icon" [(ngModel)]="service.icon" class="form-control" >
            <div *ngIf="errors?.Icon">
              <span class="text-danger" *ngFor="let error of errors.Icon">{{error}}</span>
            </div>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="clearErrors()">İptal</button>
        <button type="submit" class="btn btn-primary" [disabled]="createForm.invalid" >Kaydet</button>
      </div>
    </div>
  </form>
  </div>
</div>


<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <form #editForm="ngForm" (ngSubmit)="update()">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="createModalLabel">Hizmet Alanı Güncelle</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="clearErrors()"></button>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label>Başlık</label>
              <input type="text" name="title" [(ngModel)]="editService.title" class="form-control" >
              <div *ngIf="errors?.Title">
                <span class="text-danger" *ngFor="let error of errors.Title">{{error}}</span>
              </div>
            </div>

            <div class="form-group">
              <label>Açıklama</label>
              <textarea name="descriptionFirst" [(ngModel)]="editService.description" rows="3" class="form-control"></textarea>
              <div *ngIf="errors?.Description">
                <span class="text-danger" *ngFor="let error of errors.Description">{{error}}</span>
              </div>
            </div>

            <div class="form-group">
              <label>Icon</label>
              <input type="text" name="icon" [(ngModel)]="editService.icon" class="form-control" >
              <div *ngIf="errors?.Icon">
                <span class="text-danger" *ngFor="let error of errors.Icon">{{error}}</span>
              </div>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="clearErrors()">İptal</button>
          <button type="submit" class="btn btn-primary" [disabled]="!editForm.dirty" >Güncelle</button>
        </div>
      </div>
    </form>
    </div>
  </div>
