<section id="about" class="about section">

  <div class="container">

    <div class="row position-relative">

      <div class="col-lg-7 about-img" data-aos="zoom-out" data-aos-delay="200"><img src="img/about.jpg"></div>

      <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
        <h2 class="inner-title">İşletmenizi Geleceğe Taşıyan Yazılım Çözümleri </h2>
        <div class="our-story">
          <h4>2015'den Beri</h4>
          <h3>Nasıl Başladık?          </h3>
          <p>2015'ten beri işletmelerin dijital dönüşümünde güvenilir ortağız. Özel yazılım danışmanlığı ve yenilikçi teknolojilerle başarıya giden yolda stratejik partneriniziz.
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> <span>İşletmenizin özel ihtiyaçlarına yönelik kapsamlı yazılım danışmanlığı sunuyoruz.
            </span></li>
            <li><i class="bi bi-check-circle"></i> <span>Dijital dönüşüm stratejileri geliştirerek iş süreçlerinizi optimize ediyoruz.
            </span></li>
            <li><i class="bi bi-check-circle"></i> <span>Bulut çözümleri, veri analitiği, yapay zeka ve diğer yenilikçi teknolojiler konusunda uzman danışmanlık sağlıyoruz.        </span></li>
          </ul>
          <p>2015'ten bu yana, müşterilerimizin dijitalleşmesinde uzun vadeli ortağız. Dinamik yaklaşımımızla, teknoloji yatırımlarıyla büyümelerine ve yenilik yapmalarına destek olmaya devam ediyoruz. Müşteri başarısı en büyük motivasyonumuzdur.
          </p>

          <div class="watch-video d-flex align-items-center position-relative">
            <i class="bi bi-play-circle"></i>
            <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox stretched-link">Tanıtım Videomuzu İzleyin            </a>
          </div>
        </div>
      </div>

    </div>

  </div>

</section>
